/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.left-form{
	-fx-background-color: linear-gradient(to bottom right, #6495ed, #7c9ec3);
	-fx-border-color: #6495ed;
	-fx-border-width: .4px 0px, .4px .4px;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	
}

.textfield{
	-fx-background-color:#b4c5e4;
}

.drop-down{
	-fx-background-color:  white;
	-fx-border-color:  #118ab2 ;
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
}

.left-dashboard-panel{
	-fx-background-color: linear-gradient(to right, #06beb6 , #48b1bf);
	-fx-border-radius: 0px 20px 20px 0px;
    -fx-background-radius: 0 20 20 0;
	
}
.bottom-border{
	-fx-border-width: 0 0 5 0;
	-fx-border-color: #6495ed;
		
}

.white-bg{
	-fx-background-color: #fff;
	-fx-background-radius: 8px;
}

.nav-btn{
	-fx-background-color: transparent  ;
	-fx-font-size: 14;
	-fx-text-fill: #fff;
	
}

.nav-btn:hover{
	-fx-background-color: #02aab0;
	-fx-font-size: 15;
	-fx-border-color: #fff;
	-fx-border-radius: 2px 2px 2px 2px;
	-fx-cursor: hand;
}

.shadow{
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}

.card-background{
	-fx-background-color: linear-gradient(to right, #614385 , #516395);
    -fx-background-radius: 0 20 20 0;
	
}

.login-btn{
	-fx-background-color: #06d6a0  ;
	-fx-font-size: 16;
	-fx-text-fill: #fff;
	
}

.login-btn:hover{
	-fx-background-color:  #073b4c;
	-fx-font-size: 16;
	-fx-border-radius: 2px 2px 2px 2px;
	-fx-cursor: hand;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-background-color: #edf2f4;
    -fx-text-fill: white;
    -fx-stroke: transparent;
    -fx-size:30;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;

}
.table-row-cell:filled:hover {

    -fx-size:50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;


}
.table-view:row-selection {
    -fx-background-color:  #fbfff1;

}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 

}

.orange-bg{
    -fx-background-color: #fcbf49;	
}

.red-bg{
	    -fx-background-color: #ef476f;	
	
}

.grey-bg{
	    -fx-background-color: #8d99ae ;	
}

.blue-bg{
	-fx-background-color: #007ea7;
}
